<main class="col vh-100-custom bg-image3 d-flex justify-content-center align-items-start height-auto-sm">
    <div id="recipe-box" class="green-box"> 
        <h1 class="text-center">Add New Recipe</h1>
        <form id="add-recipe-form">
            <!-- Recipe name -->
            <label for="recipe-name" class="form-label">Name:</label>
            <input class="form-control" id="recipe-name" type="text" name="recipe-name" placeholder="Name" required/>

            <!-- Description -->
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter the description here" required></textarea>

            <!-- Ingredient details -->
            <div id="ingredient-container">
                <!-- Any changes to this fieldset need to be made in addIngredient.js as well -->
                <fieldset id="ingredient-data1">
                    <label for="ingredient1" class="form-label">Ingredient:</label>
                    <div class="d-sm-flex">
                        <input class="form-control space-right" list="datalistOptions" id="ingredient1" name="name" placeholder="Type to search...">
                        <datalist id="datalistOptions">
                            {{#each ingredients as |ingredient|}}
                                <option value="{{ingredient.name}}"></option>
                            {{/each}}
                        </datalist>
                        <input class="form-control space-right" id="amount1" type="text" name="amount" placeholder="Amount" required/>  
                        <input class="form-control" id="unit1" type="text" name="measurement_unit" placeholder="Unit"/>
                    </div>
                </fieldset>
            </div>

            <!-- Add ingredient button-->
            <div id="add-btn-container">
                <button id="add-btn">+</button>
                <p class="d-inline orange-el">Add ingredient</p>
            </div>

            <!-- Instruction -->
            <label for="instructions" class="form-label">Instructions:</label>
            <textarea class="form-control" id="instructions" name="instructions" rows="10" placeholder="Enter instructions here" required></textarea>

            <!-- Submit button -->                  
            <div class="text-center">
                <button id="submit-btn">Submit Recipe</button>
            </div>
        </form>
    </div>
</main>

<div class="modal" id="success-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Success!</h5>
      </div>
      <div class="modal-body">
        <p>Your recipe has been posted.</p>
        <div id="modal-btns">
            <a class="btn" href="/recipe/mine">View My Recipes</a>
            <a class="btn" href="/home">View All Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/addRecipe.js"></script>
<script src="/js/addIngredient.js"></script>