<div class="row">
    <header class="col vh-100">
        <div class="m-5">
            <h1 id="title">Kitchen</h1>
            <h1 id="title">Alchemy</h1>
        </div>
        
        <p class="m-5" id="intro">Kitchen Alchemy is where you can submit your own recipes, or see what you can cook with what you have in your pantry.</p>
    </header>

    <main class="col vh-100 bg-image1 d-flex justify-content-center align-items-center" >
        <div class="green-box" id="log-in">
            <form>
                <input class= "row" id="username" type="text" name="username" placeholder="Username" required />
                <input class= "row" id="password" type="text" name="password" placeholder="Password" minlength="8" required />
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <button >Log In</button>
                    </div>
                </div>
                <a class= "row justify-content-center orange-el" href="/signup">Create a new account</a>
            </form>
        </div>
    </main>
</div>
