<div class="row">
    <header class="col">
    <h1 class="fs-1" id="title">Kitchen Alchemy</h1>
    <p id="intro">Kitchen Alchemy is where you can submit your own recipes, or see what you can cook with what you have in your pantry.</p>
    </header>

    <main class="col" id="log-in">
        <h2>Log In</h2>
        <form>
            <input id="username" type="text" name="username" placeholder="Username" required />
            <input id="password" type="text" name="password" placeholder="Password" minlength="8" required />
            <button>Log In</button>
            <a href="/signup">Create a new account</a>
        </form>
    </main>
</div>
