<div class="row">
    <header class="col-sm col-lg-4">
        
        <div class="m-5">
            <img  src="../images/logo.png" alt="Logo">
            <h1 id="title">Kitchen</h1>
            <h1 id="title">Alchemy</h1>
        </div>
        
        <p class="m-5" id="intro">At Kitchen Alchemy, we believe that everyone has a hidden culinary genius within them. That's why we provide you with a platform to submit and share your own recipes, allowing others to marvel at your culinary creations. But it doesn't stop there. Our platform goes beyond traditional recipe sharing by offering a unique feature – the ability to explore and cook with the ingredients you already have in your pantry.</p>
    </header>

    <main class="col-sm col vh-100 bg-image1 d-flex justify-content-center align-items-center" >
        <div class="green-box" id="log-in">
            <form id="login-form">
                <input class= "row" id="email-login" type="text" name="email-login" placeholder="Email address" required />
                <input class= "row" id="password-login" type="password" name="password-login" placeholder="Password" minlength="8" required />
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <button >Log In</button>
                    </div>
                </div>
                <a class= "row justify-content-center orange-el" href="/signup">Create a new account</a>
            </form>
        </div>
    </main>
</div>

<script src="/js/login.js"></script>