<main>
    <h1>Create your account</h1>
    <form>
        <input id="firstName" type="text" name="firstName" placeholder="First name" required />
        <input id="lastName" type="text" name="lastName" placeholder="Last name" required />
        <input id="email" type="text" name="email" placeholder="Email address" required />
        <input id="username" type="text" name="username" placeholder="Username" required />
        <input id="password" type="text" name="password" placeholder="Password" minlength="8" required />
        <label for="password">Password must be at least 8 characters</label>
        <button>Submit</button>
    </form>
</main>