/* import Pacifico font */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* import Lobster font */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

:root {
    --green: #9ed26dff;
    --orange: #ff9900ff;
    --dark-green: #38761dff;
    --dark-orange: #ff7804;

    --header-font: 'Pacifico', cursive;
    --h1-font: 'Lobster', cursive; 
    --p-font: Arial, sans-serif;
}

#title {
    color: var(--dark-orange);
    font-family: var(--header-font);
}

h1 {
    color: var(--dark-green);
    font-family: var(--h1-font);
}

button {
    background-color: var(--orange);
    color: white;
    border: 2px solid var(--dark-orange);
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 3px 10px;
}

button:hover {
    background-color: var(--dark-orange);
    color: rgb(143, 143, 143);
    border: 2px solid var(--orange);
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    
}