/* import Pacifico font */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* import Lobster font */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

/* General Styles */
:root {
    --green: rgb(158, 210, 109);
    --orange: #ff9900ff;
    --hover-green: rgb(143, 143, 143);
    --dark-green: #38761dff;
    --dark-orange: #ff7804;
    --trans-green: rgb(217, 234, 211, 0.88);
    --shadow-box: 0 10px 10px rgba(0, 0, 0, 0.2);

    --header-font: 'Pacifico', cursive;
    --h1-font: 'Lobster', cursive; 
    --p-font: Arial, sans-serif;
}

h1, .h1 {
    color: var(--dark-green);
    font-family: var(--h1-font);
}

h2 {
    color: var(--dark-orange);
    font-family: var(--header-font);
}

nav {
    background-color: var(--dark-green);
}

button, #modal-btns .btn {
    background-color: var(--orange);
    color: white;
    border: 2px solid var(--dark-orange);
    border-radius: 10px;
    box-shadow: var(--shadow-box);
    padding: 3px 20px;
}

button:hover, #modal-btns .btn:hover {
    background-color: var(--dark-orange);
    color: rgb(143, 143, 143);
    border: 2px solid var(--orange);
    border-radius: 10px;
    box-shadow: var(--shadow-box);  
    padding: 3px 20px;
}

header, .welcome {
    background-color: var(--green);
}

input {
    border: none;
    border-radius: 13px;
    box-shadow: var(--shadow-box);
    margin-bottom: 20px;
    width: 350px;
}

textarea {
    margin-bottom: 20px;
}

/* Utilities */
.green-box {
    /*border and background*/
    background-color: var(--trans-green);
    border: 1px solid #ffffff;
    border-radius: 35px;
    box-shadow: var(--shadow-box);
    padding: 30px;
}

.vh-100-custom {
    height: 100vh;
}

.vh-100 {
    height: 100vh;
}

.vh-130 {
    height:130vh;
}
.orange-el {
    color: var(--dark-orange);
    margin-top: 5px;
}

.orange-el:hover {
    color: var(--orange);
    margin-top: 5px;
}

.mg-custom {
    margin-right: 5px;
}

/* Navigation / Header */
/*title is Kitchen Alchemy*/
#title {
    color: var(--dark-orange);
    font-family: var(--header-font);
    font-size: 70px;
    font-weight: bold;
    margin: 10px 0 20px 10px;
}

.nav-link-cus {
    color: white;
}

.nav-link-cus:hover {
    color:rgb(143, 143, 143);
}

/* Backgrounds */
.bg-image1 {
    background-image: url('../images/background1.png');
}

.bg-image2 {
    background-image: url('../images/background2.png');
}

.bg-image3 {
    background-image: url('../images/background3.png');
}

.bg-image1, .bg-image2, .bg-image3 {
    background-size: cover;
    background-position: center;
}

/* Login */
#intro {
    border-top: 5px solid var(--dark-green);
    color: white;
    padding-top: 20px;
}

#login-box {
    width: 400px;
}

/* Signup */
#signup-box {
    margin-top: 10%;
}

#signup-form #firstName, #ingredient-container .space-right {
    margin-right: 20px;
}

/* Recipe list */
.description {
    border-top: 3px solid var(--dark-green);
    font-size: 150%;
    margin-top: 20px;
    padding-top: 20px;
}

.author {
    font-style: italic;
}

.post-card {
    cursor: pointer;
}

.post-card:hover {
    background-color: var(--hover-green);
    color: var(--orange);
    box-shadow: black 0px 0px 10px;
}


/* Add recipe */
#recipe-box {
    margin: 5% 0;
    width: 85%;
    max-width: 700px;
}

#add-btn-container {
    margin-bottom: 20px;
}

.modal-content {
    background-color: var(--dark-green);
    color: var(--orange)
}

#modal-btns {
    display: flex;
    justify-content: space-evenly;
}

.nav-title {
    font-size: 30px;
    color: var(--dark-orange);
    font-family: var(--header-font);
    font-weight: bold;
}

@media (max-width: 375px) {
    .vh-130{
        height: 170vh;
    }
}