/* import Pacifico font */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

/* import Lobster font */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

:root {
    --green: rgb(107, 218, 107);
    --orange: rgb(252, 127, 43);
    --dark-green: rgb(47, 153, 43);
    --dark-orange: rgb(230, 112, 34);

    --header-font: 'Pacifico', cursive;
    --h1-font: 'Lobster', cursive; 
    --p-font: Arial, sans-serif;

}
